AUTH0_CLIENT_ID="UKqA81XdXJNQDqulOeWj7bxC0ev5qDiv"
AUTH0_CLIENT_SECRET="Z8sxPMUzX-X7AtGe6tYsfCHKFw6Pd4_xE0LqfrLjEYFshblApihxIy5eDtnxX58p"
AUTH0_DOMAIN="dev-p5rzimkpdjozgn20.us.auth0.com"
NEXT_PUBLIC_APP_URL="http://localhost:3000"